<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-red" value="red">
    <img class="radio car-color-image" src="/static/img/cars/radio/red-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-pink" value="pink">
    <img class="radio car-color-image" src="/static/img/cars/radio/pink-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-yellow" value="yellow">
    <img class="radio car-color-image" src="/static/img/cars/radio/yellow-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-orange" value="orange">
    <img class="radio car-color-image" src="/static/img/cars/radio/orange-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-green" value="green">
    <img class="radio car-color-image" src="/static/img/cars/radio/green-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-blue" value="blue">
    <img class="radio car-color-image" src="/static/img/cars/radio/blue-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-black" value="black">
    <img class="radio car-color-image" src="/static/img/cars/radio/black-circle.png">
</label>
<label>
    <input class="car-color-choice" type="radio" name="color" id="color-choice-white" value="white">
    <img class="radio car-color-image" src="/static/img/cars/radio/white-circle.png">
</label> 
