<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/form.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title> LM: Edit </title>
</head>
<body>
    {% include 'misc/navtop.html' %}
    {% include 'misc/header.html' %}
    
    <div class="edit main">

        <div class="edit__wrapper wrapper">

            <div class="edit__image-container image-container">
                <img class="edit__left-image left-image" src="{% static 'img/account/edit_background.jpg' %}" alt="No image">
                <img class="edit__logo-image logo-image" src="{% static 'img/account/logo.png' %}" alt="Legendary Motosport" class="logo">
            </div>

            <div class="edit__form-container">
                <form class="edit__form" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2> Edit </h2>
                    <h3 class="form__validation-fail"> {{ errors.other }} </h3>                    
                    
                    <label for="current-password"> Current Password (Required)</label>
                    <i class="bi bi-eye-slash togglePassword"></i>
                    <p class="form__validation-fail"> {{ errors.current_password }} </p>
                    <input class="form__input-data password" type="password" name="current_password" placeholder="Enter Your Current password" pattern=".{8,}" required title="8 characters minimum">
                    
                    <label for="username"> New Username (Optional) </label>
                    <p class="form__validation-fail"> {{ errors.username }} </p>
                    <input class="form__input-data" type="text" name="new_username" id="username" placeholder="Enter Your new username">

                    <label for="password"> New Password (Optional) </label>
                    <i class="bi bi-eye-slash togglePassword"></i>
                    <p class="form__validation-fail"> {{ errors.password }} </p>
                    <input class="form__input-data password" type="password" name="new_password" placeholder="Enter Your new password" pattern=".{8,}" title="8 characters minimum">

                    <label for="password_confirm"> New Password Confirm </label>
                    <i class="bi bi-eye-slash togglePassword"></i>
                    <p class="form__validation-fail"> {{ errors.password }} </p>
                    <input class="form__input-data password" type="password" name="new_password_confirm" placeholder="Enter Your new password again" pattern=".{8,}" title="8 characters minimum"> 
                    
                    <label for="form-image"> New Preview image (Optional) </label>
                    <p class="form__validation-fail"> {{ errors.image }} </p>
                    <input class="form__input-data" type="file" name="image" id="form-image" accept=".jpg, .jpeg, .png">

                    <input class="form__submit" type="submit" value="submit">

                    <script src="{% static 'js/account/toggle_password.js' %}"></script>
                </form>
            </div>

        </div>
    </div>
</body>
</html>