<form class="car__form" action="." method="post" novalidate>
<p class="car__color-info"> SELECT FROM AVAILABLE COLORS TO ORDER </p>
<div class="car__color-container">
    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="car__choice-red" value="red">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/red-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-pink" value="pink">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/pink-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-yellow" value="yellow">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/yellow-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-orange" value="orange">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/orange-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-green" value="green">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/green-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-blue" value="blue">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/blue-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-black" value="black">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/black-circle.png">
    </label>

    <label>
        <input class="radio color-container__choice" type="radio" name="color" id="color-choice-white" value="white">
        <img class="car__color-choice-image radio" src="/static/img/cars/radio/white-circle.png">
    </label> 

</div>
<button class="car__submit btn" type="submit" id="toggleSubmit"> ORDER </button>
<script src="/static/js/car/toggle_order_button.js"></script>
</form>
